{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>notes on unstructured</h1>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </div>
    
    {{ $max := len .Site.RegularPages }}
    {{ $index :=  sub $max 1 }}
    
    {{ $num := slice 2 1 35 93 26 }}
    {{ $n0 := index $num 0 }}
    {{ $n1 := add $n0 (index $num 1) }}
    {{ $n2 := add $n1 (index $num 2) }}
    {{ $n3 := add $n2 (index $num 3) }}
    {{ $n4 := add $n3 (index $num 4) }}
    
    {{/* range sort .Site.RegularPages ".Params.url" "desc" */}}
    {{ range sort .Site.RegularPages ".Params.url" "desc" }}
        {{ if eq $index (sub $max 1) }}
          <code style="color: #faa;">nou(&infin;):</code> 
        {{ end }}
        
        <code>
          <x style="color: #aaa;">{{ .Params.url }}</x>
          {{/* .{{ printf "%04d" $index */}}
          {{ dateFormat "02-Jan-2006" .Date }}
        </code>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{/* .Summary */}}
        
        {{ if eq $index $n0 }}
          <br><br><code style="color: #faa;">&alpha;({{ index $num 0 }}):</code>
        {{ end }}

        {{ if eq $index $n1 }}
          <br><br><code style="color: #faa;">ek({{ index $num 1 }}):</code>
        {{ end }}
        
        {{ if eq $index $n2 }}
          <br><br><code style="color: #faa;">blank({{ index $num 2 }}):</code>
        {{ end }}

        {{ if eq $index $n3 }}
          <br><br><code style="color: #faa;">o({{ index $num 3 }}):</code>
        {{ end }}

        {{ if eq $index $n4 }}
          <br><br><code style="color: #faa;">to({{ index $num 4 }}):</code> 
        {{ end }}
        
        {{ $index = sub $index 1 }}
        
    {{ end }}
   
{{ end }}