{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>notes on unstructured</h1>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </div>
    
    {{ $index := sub (len (.Site.RegularPages)) 1 }}
    
    {{ $num := slice 2 35 93 26 }}
    {{ $n0 := index $num 0 }}
    {{ $n1 := add $n0 (index $num 1) }}
    {{ $n2 := add $n1 (index $num 2) }}
    {{ $n3 := add $n2 (index $num 3) }}
    
    {{ range sort .Site.RegularPages ".Params.url" "desc" }}
        <code>
          <x style="color: #aaa;">{{ .Params.url }}</x>
          {{/* .{{ printf "%04d" $index */}}
          {{ dateFormat "02-Jan-2006" .Date }}
        </code>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{/* .Summary */}}
        
        {{ if eq $index $n0 }}
          <br><br><code style="color: #faa;">&bull;(2):</code>
        {{ end }}

        {{ if eq $index $n1 }}
          <br><br><code style="color: #faa;">blank(35):</code>
        {{ end }}

        {{ if eq $index $n2 }}
          <br><br><code style="color: #faa;">o(93):</code>
        {{ end }}

        {{ if eq $index $n3 }}
          <br><br><code style="color: #faa;">to(26):</code> 
        {{ end }}
        
        {{ $index = sub $index 1 }}
        
    {{ end }}
   
{{ end }}