{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>notes on unstructured</h1>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </div>
    
    {{ $index := sub (len (.Site.RegularPages)) 1 }}
    {{ $n0 := 2 }}
    {{ $n1 := add $n0 93 }}
    
    {{ range sort .Site.RegularPages ".Params.url" "desc" }}
        <code>
          <x style="color: #aaa;">{{ .Params.url }}.{{ printf "%04d" $index }}</x>
          {{ dateFormat "02-Jan-2006" .Date }}
        </code>-
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{/* .Summary */}}
        
        {{ if or (eq $index $n0) (eq $index $n1) }}
          <br><br>
        {{ end }}

        {{ $index = sub $index 1 }}
        
    {{ end }}
   
{{ end }}